PORT=3000
DATABASE_URL=postgresql://app:app@postgres:5432/app?schema=public
REDIS_URL=redis://redis:6379
N8N_HOST=n8n
N8N_PORT=5678
EXTERNAL_API_URL=https://api.mockaroo.com/api/3bb7e760
N8N_URL=http://n8n:5678/webhook-test
OPENROUTER_API_KEY= sk-or-v1-XXXXXXXXXXXXXXXXXXXXXXXXX